.navigation {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(215, 16, 16);
    min-height: 65px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(209, 122, 122, 0.25), 0 10px 10px rgba(150, 90, 90, 0.22);
    box-shadow: 0 14px 28px rgba(209, 122, 122, 0.25), 0 10px 10px rgba(150, 90, 90, 0.22);
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
     font-family: 'Holtwood One SC', serif;
}

.navigation a {
    color: rgb(220, 226, 61);
}

.nav-pills a:hover {
    color: rgb(220, 226, 61);;
    background-color: #5133a4 !important;
}

.desc-normal {
    color:  rgb(41, 192, 41);
}

.desc-correct {
    color: rgba(31, 10, 10, 0.66);
}

.desc-incorrect {
    color: rgba(14, 1, 1, 0.66);
}